<% if resource.errors.any? %>
  <div class="content-form-errors">
    <div class="content-form-alert alert-error">
      there is <%= pluralize(resource.errors.count, "error") %>.
    </div>
    <ul>
      <% resource.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>